.container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

#pixelArtContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
}

.pixel-box {
    width: 20px;
    height: 20px;
}

#uploadedImageContainer {
    flex-grow: 1;
}